<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Notas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        html,body{
            height: 100%;
            margin: 0;
        }
        .bg {
            /* The image used */
            background-image: url("img/back2.jpg");

            /* Full height */
            height: 75%; 

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <!-- Cada vez que se realicen cambios en archivos tipo .hbs como los partials, reiniciar servidor-->
    {{>header}}
        <div class="bg"></div>
    {{>footer}}
</body>
</html>
